branches:
  - main

plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/changelog"
  - - "@semantic-release/exec"
    - verifyConditionsCmd: >
        echo "//registry.npmjs.org/:_authToken = $NPM_TOKEN" > .npmrc
        && npm whoami --userconfig .npmrc
      prepareCmd: >
        sed -E 's!("@beet-bot/.+"|"version"): ".+"!\1: "${nextRelease.version}"!' --in-place packages/*/package.json
        && find packages -name package.json -execdir npm pack \;
      publishCmd: >
        find packages -name package.json -execdir npm publish --userconfig ../../.npmrc --access public \;
  - "@semantic-release/git"
  - "@semantic-release/github"
